.breadcrumbs {
    padding-top: 100px;
    padding-bottom: 10px;

    &__item {
      display: inline-block;
      display: inline-flex;
      align-items: center;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;

      span{
          margin: 0 3.5px;
      }
    }
}