//flex
%flex{
    display: flex !important;
}
%align-center{
    align-items: center !important;
}
%align-end{
    align-items: end !important;
}
%justify-center{
    justify-content: center !important;
}
%justify-between{
    justify-content: space-between !important;
}
%justify-end{
    justify-content: flex-end !important;
}
%direction-colomn{
    flex-direction: column !important;
}
%direction-row{
    flex-direction: row !important;
}
%wrap{
    flex-wrap: wrap !important;
}